
/*Gente, os asterisco seleciona todos os elemntos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Deixa mais facil de regular os padding, marign  e etc*/
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('https://static.todamateria.com.br/upload/mi/to/mitologia-grega-og.jpg');
    background-position: center;
    color: #d3c993;
    min-height: 100%;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    background-attachment: fixed;
    align-items: center;
    background-size: cover;
}


.tela-inicial {
    max-width: 900px;
    background-color: rgba(68, 60, 43, 0.801);
    padding: 40px 30px 40px 30px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.733);
    color: #d3c993;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.texto-principal h1 {
    font-size: 48px;
    color: #bda863;
    font-weight: 700px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.texto-principal p{
    font-size: 17px;
    color: #d3c993;
    max-width: 620px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    line-height: 1.5;
}

.blocos-principais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.bloco{
    background-color: rgba(0, 0, 0, 0.767);
    width: 240px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.699);
    color: #d3c993;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 240px;
    display: flex;
    padding: 20px;    
    text-align: center;
    border-radius: 10px;
}

.bloco-sobre{
    background-color: rgba(0, 0, 0, 0.767);
    width: 760px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.699);
    color: #d3c993;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 240px;
    display: flex;
    padding: 20px;    
    text-align: center;
    border-radius: 10px;
}

/*movimento pro quando o mouse apssa por sima*/
.bloco:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 0px #bda863;
}
.bloco-sobre:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 0px #bda863;
}


.bloco h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #bda863;
    font-weight: 700;
}
.bloco p{
    font-size: 16px;
    color: #d4cb93;
    line-height: 1.5;
}

.bloco-sobre p{
    font-size: 16px;
    color: #d4cb93;
    line-height: 1.5;
}
.bloco-sobre h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #bda863;
    font-weight: 700;
}



footer {
    max-width: 900px;
    text-align: center;
    color: #bda863;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
    font-size: 14px;
    font-size: 14px;
    border-top: 5px solid #bda863;
    padding: 15px 20px 15px 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

